{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monos Gracientos{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Monos Gracientos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'marcas' %}">Marcas</a>  
          <ul class="dropdown-menu"></ul>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="{% url 'tienda' %}">Tienda</a>
        </li>
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link disabled"></a> -->
        </li>

        <li class="nav-item">
          <a class="nav-link" tabindex="-1" aria-disabled="true" href="{% url 'login' %}">Iniciar Sesion</a>

        </li>
      </ul>
      <!-- <form class="d-flex" role="search"> -->
        <!-- <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" type="submit">Buscar</button> -->
      <!-- </form> -->
    </div>
  </div>
</nav>

<!-- CONTENEDOR DE PAGINA -->
<div class=".center">
    {% block body %}

    {% endblock %}  
</div>

<!-- FOOTER -->



</body>
</html>