{% extends './base.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}

{% load static %}

<div class="body">
  <!-- INDICADOR -->
  <ol class="carousel-indicators">
    <li data-targer="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-targer="#myCarousel" data-slide-to="1"></li>
    <li data-targer="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- CARRUSEL -->
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video onloadeddata="this.muted=true" autoplay="load">
          <source src="{% static '/videos/Revisionauto.mp4' %}" class="d-block w-100" alt="...">
        </video>
      </div>
      <div class="carousel-item">
        <video onloadeddata="this.muted=true" autoplay="load">
        <source src="{% static '/videos/lavadodeautoss.mp4' %}" class="d-block w-100" alt="...">
        </video>
      </div>
      <div class="carousel-item">
        <video onloadeddata="this.muted=true" autoplay="load">
          <source src="{% static '/videos/cambiodeneumaticos.mp4' %}" class="d-block w-100" alt="...">
        </video>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#MyCarousel2" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a>
  </div>

</div>


{% endblock %}