{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monos Gracientos{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Monos Gracientos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link disabled"></a> -->
        </li>

        <li class="nav-item">
          <a class="nav-link" tabindex="-1" aria-disabled="true" href="{% url 'login' %}">Iniciar Sesion</a>

        </li>
      </ul>
      <!-- <form class="d-flex" role="search"> -->
        <!-- <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" type="submit">Buscar</button> -->
      <!-- </form> -->
    </div>
  </div>
</nav>

<!-- CONTENEDOR DE PAGINA -->

<div class=".center">
  {% block body %}
    <div class="body">
      <!-- INDICADOR -->
      <ol class="carousel-indicators">
        <li data-targer="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-targer="#myCarousel" data-slide-to="1"></li>
        <li data-targer="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- CARRUSEL -->
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video onloadeddata="this.muted=true" autoplay="load">
              <source src="{% static '/videos/Revisionauto.mp4' %}" class="d-block w-100" alt="...">
            </video>
          </div>
          <div class="carousel-item">
            <video onloadeddata="this.muted=true" autoplay="load">
            <source src="{% static '/videos/lavadodeautoss.mp4' %}" class="d-block w-100" alt="...">
            </video>
          </div>
          <div class="carousel-item">
            <video onloadeddata="this.muted=true" autoplay="load">
              <source src="{% static '/videos/cambiodeneumaticos.mp4' %}" class="d-block w-100" alt="...">
            </video>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#MyCarousel2" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </a>
      </div>

    </div>
  {% endblock %}
</div>

<!-- FOOTER -->



</body>
</html>